extends ../layout

block content 
    link(rel="stylesheet", href="/css/detail.css")
    script(src="../js/detail.js")
    h2.book 도서 정보
    div
        strong ISBN
        span 
    div
        strong 도서명 
        span 
    div
        strong 저자
        span 
    div
        strong 출판사
        span 
    div
        strong 가격
        span 
    div
        strong 할인가액
        span 
    div
        strong 요약
        span 
    div
        strong 출판일
        span 
    div
        strong 네이버링크
        span 
    div
        strong 이미지링크
        span 
    .btn_box   
        button.list 리스트
        button.update 수정
        button.delete 삭제
