extends ../layout

block content
    link(rel="stylesheet", href="../css/input.css")
    h2 도서정보 등록
    form(method="POST")
        div.book.input_box
            input(placeholder="ISBN" name="b_isbn")
            input(placeholder="도서명" name="b_title")
            input(placeholder="저자" name="b_author")
            input(placeholder="출판사" name="publisher")
            input(placeholder="가격" name="b_price")
            input(placeholder="할인가" name="b_discout")
            input(placeholder="요약"  name="b_descrip")
            input(placeholder="출판일" name="b_pubdate")
            input(placeholder="네이버링크" type="url" name="b_link")
            input(placeholder="이미지링크" type="url" name="b_image")
    div.book.btn_box
        button.add 저장
        button.reset 새로작성
        button.tolist 리스트보기
