* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1.title {
  padding: 40px;
  background-color: #79b2b4;
  text-align: center;
  color: white;
}

nav ul {
  display: flex;
  background-color: #aecece;
}

nav li {
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 5px 18px;

  color: white;
  font-weight: 800;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}

nav li:nth-of-type(3) {
  margin-left: auto;
}

nav li:hover {
  border-bottom: 2px solid white;
}
