extends layout

block content 
    
    //- pug 파일에 스타일 지정하기, ㅂㄹ라서 안쓰는게조음
    style.
        div.error {
            color: red;
            font-weight: bold;
            font-size: 1.2rem;
            width: 80%;
            margin: 20px auto;
        }
    .error
        h1= message
        h3= code 
        span= errno 
        SQL= sql